@model MyCrowdFund.Web.Models.ProjectViewModel

<div class="row card-columns">

    @{
        foreach ( var p in Model.ProjectList ) {

            <div class="card" style="width: 18rem;">
                <a href="@Url.Action("ProjectDetails", "Project", new { id = p.Id } ) ">                              
                    <img src="@p.Photo" class="card-img-top" >
                </a>
                <div class="card-body">
                    <h5 class="card-title">@p.Title</h5>
                    <h5 class="card-title">@p.Category</h5>
                </div>
            </div>
        }
    }
</div>

