@model MyCrowdFund.Web.Models.ProjectViewModel

    <form class="js-project  col-md-4" method="post" action="@Url.Action(" Create", "Project")">

        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control js-title">
        </div>
       
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control js-description">
        </div>

        <div class="form-group">
            <label>Total Cost</label>
            <input type="text" class="form-control js-cost">
        </div>

        <div class="form-group">
            <label>Photo</label>
            <input type="text" class="form-control js-photo">
        </div>

        <div class="form-group">

            <label for="@Html.IdFor(p => p.Model.Category)"> Product Category </label>
            <br>
            @Html.DropDownListFor( p => p.Model.Category,
            Html.GetEnumSelectList( typeof( MyCrowdFund.ProjectCategory ) ).Skip( 1 ),
            "Select Category", new { @class = "form-control js-category" } )
        </div>

        <div class=" form-group ">
            @Html.HiddenFor( p => p.UserId,
          new { @class = "form-control js-tid", placeholder = "enter tid" } )
        </div>

        <button type="button" class="btn btn-primary js-project-submit"> Submit</button>
    </form>

<div class="alert alert-danger js-create-project-alert" role="alert"
     style="display: none">
</div>

<div class="alert alert-success js-create-project-success" role="alert"
     style="display: none">
</div>